include *.txt *.ini *.cfg *.rst *.in
exclude .installed.cfg a.cfg .mr* local.cfg
recursive-include src *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml
recursive-include etc *
recursive-exclude etc/init.d *
recursive-exclude etc/apache 100-*
recursive-exclude etc/wsgi *
recursive-exclude etc *.env
